#career-page h2 {
    font-size: 1.8rem;
}

#career-page-content h1 {
    margin-bottom: 0;
}

#career-page #career-page-content > .grid.wrapper > .grid {
    padding: 1em 2em;
}

#career-page #career-page-content > .grid.wrapper > .grid > .whole.unit {
    padding-bottom: 0;
}

#career-page #career-page-content-advantages {
    padding: 1em 2em;
    padding-bottom: 2em;
    background-image: url(/upload/career/carrer-page-bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-weight: normal;
}

#career-page #career-page-content-advantages .description {
    margin-bottom: 1em;
    width: 65%;
    font-weight: 200;
    font-size: 1.4rem;
}

#career-page #career-page-content-advantages h2,
#career-page #career-page-content-advantages h3 {
    color: white;
    font-weight: normal;
}

#career-page #career-page-content-advantages h2 {
    font-size: 1.8rem;
}

#career-page #career-page-content-advantages table.wide {
    width: 100%;
}

#career-page #career-page-content-advantages table.wide tr td.cell {
    padding: 1.5em;
    padding-right: 2em;
    padding-left: 5.5em;
    width: 50%;
    background-position: left center;
    background-repeat: no-repeat;
    vertical-align: middle;
}

#career-page #career-page-content-advantages table.wide tr td#advantage-adaptation {
    background-image: url(/upload/career/adaptation.png);
}

#career-page #career-page-content-advantages table.wide tr td#advantage-education {
    background-image: url(/upload/career/education.png);
}

#career-page #career-page-content-advantages table.wide tr td#advantage-growth {
    background-image: url(/upload/career/growth.png);
}

#career-page #career-page-content-advantages table.wide tr td#advantage-relations {
    background-image: url(/upload/career/relations.png);
}

#career-page #career-page-content-advantages table.wide tr td#advantage-technology {
    background-image: url(/upload/career/technology.png);
}

#career-page #career-page-content-advantages table.wide tr td#advantage-wallet {
    background-image: url(/upload/career/wallet.png);
}

#career-page #career-page-content-advantages table.wide tr td h3 {
    display: inline;
    margin: 0;
    padding-right: 1em;
    font-weight: 200;
    font-size: 1.4rem;
}

#career-page #vacancy-form-engineer.form .field input {
    width: 14em;
}

#career-page #vacancy-form-engineer.form .field input[name="vacancy-form-file"] {
    width: 9em;
}

#career-page #vacancy-form-engineer.form .field textarea {
    width: 14em;
}

#career-page .career-page-menu {
    display: inline-block;
    margin: 0;
    padding: 0;
    border: 1px solid #f4d144;
    border-radius: 4px;
}

#career-page .career-page-menu a {
    display: inline-block;
    float: left;
    padding: 0.45em 2em;
    color: #222222;
    text-align: center;
    text-decoration: none;
    font-size: 1.2rem;
}

#career-page .career-page-menu a:hover {
    background-color: #e8c63c;
}

#career-page .career-page-menu a:focus,
#career-page .career-page-menu a.active {
    background-color: #f4d144;
}

#career-page #career-page-vacancies ul.vacancies {
    padding: 0;
    padding-right: 18em;
}

#career-page #career-page-vacancies ul.vacancies li.vacancy {
    display: block;
    margin: 1.5em 0;
    margin-bottom: 2.5em;
    padding: 0;
}

#career-page #career-page-vacancies ul.vacancies li.vacancy h3 {
    margin-top: 0;
    margin-bottom: 1em;
    font-weight: 500;
    font-size: 1.5rem;
}

#career-page #career-page-vacancies ul.vacancies li.vacancy h4 {
    font-weight: 300;
    font-size: 1.35rem;
}

#career-page #career-page-vacancies ul.vacancies li.vacancy .teaser {
    position: relative;
    margin: 0.5em 0;
}

#career-page #career-page-vacancies ul.vacancies li.vacancy .teaser:after {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 2em;
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
    content: '';
}

#career-page #career-page-vacancies ul.vacancies li.vacancy.expanded .teaser:after {
    display: none;
}

#career-page #career-page-vacancies ul.vacancies li.vacancy .description {
    display: none;
    margin: 0.5em 0;
    line-height: 1.375;
}

#career-page #career-page-vacancies ul.vacancies li.vacancy .description ul li {
    list-style: disc;
}

#career-page #career-page-vacancies ul.vacancies li.vacancy .show-resume {
    margin: 1em 0;
}

#career-page #career-page-vacancies .resume {
    margin: 2em 0;
}

#career-page #career-page-vacancies .resume h3 {
    font-size: 1.8rem;
}

#career-page #career-page-vacancies .resume h3 > span {
    font-weight: normal;
    font-size: 1.2rem;
}

#career-page #career-page-vacancies .resume h3 > span > a {
    text-decoration: underline;
    text-decoration-style: dashed;
}

#career-page #career-page-vacancies .resume form label {
    font-weight: 200;
    font-size: 1.35rem;
}

/* contact block */

#career-page #contact-block {
    padding-left: 1em;
    font-weight: normal;
    font-size: 1.2rem;
}

#career-page #contact-block .two-fifths.unit {
    padding-top: 0.5em;
    padding-right: 0.3em;
}

#career-page #contact-block .three-fifths.unit {
    padding-top: 0.5em;
    padding-left: 0.3em;
}

#career-page #contact-block .image.frame {
    overflow: hidden;
    border: 1px solid #939393;
}

#career-page #contact-block .image.frame > img {
    display: block;
    width: 100%;
    height: auto;
}

#career-page #contact-block h2 {
    margin-top: 0;
}

#career-page #contact-block .person {
    font-size: 1.35rem;
    line-height: 1.25;
}


#career-page #contact-form-wrapper,
#career-page #contact-form-confirmation {
    margin: 1em 0;
}

#career-page #contact-form {
    margin-bottom: 0;
}

#career-page #contact-form .field {
    margin: 0.5em 0;
}

#career-page #contact-form .actions {
    margin-top: 1.25em;
}

#career-page #contact-from label {
    margin: 0;
}

#career-page #contact-form input,
#career-page #contact-form textarea {
    box-sizing: border-box;
    width: 100%;
}
