#catalog-item-page-content > .wrapper {
    padding-top: 2em;
    padding-bottom: 2em;
}

#catalog-item-page-content h1 {
    margin: 0;
    font-size: 2.7rem;
}

#catalog-item-page-content h2 {
    margin: 0;
    color: #929494;
    font-weight: 200;
    font-size: 1.8rem;
}

#catalog-item-details {
    font-weight: normal;
}

#catalog-item-details h6 {
    font-weight: 500;
}

/* item price */

#catalog-item-images,
#catalog-item-price,
#catalog-item-buy {
    margin-left: 1em;
}

#catalog-item-price {
    margin: 1em 0;
    margin-left: 1em;
    line-height: 1;
}

#catalog-item-price > p {
    margin: 0.25em 0;
}

#catalog-item-price .date {
    color: #929494;
    font-size: 1.2rem;
}

#catalog-item-price .price .value {
    margin: 0;
    font-size: 4.5rem;
}

#catalog-item-price .price-w-tax {
    color: #595959;
    font-size: 1.8rem;
}

#catalog-item-buy .wrapper {
    position: relative;
    float: left;
    overflow: hidden;
    margin-right: 0.5em;
    padding: 0.5em 1em;
    border: 1px solid #929494;
    border-radius: 4px;
    background-color: white;
    box-shadow: none;
}

#catalog-item-buy .wrapper input[name="catalog-item-buy-form-quantity"] {
    padding: 0;
    width: 3.5em;
    border: none;
    font-weight: normal;
}

#catalog-item-buy button[type="submit"] {
    padding: 0.3em 0.75em;
    padding-bottom: 0.35em;
    font-size: 1.5rem;
}

#catalog-item-buy .wrapper button {
    position: absolute;
    right: -1px;
    padding: 0.2em 0.5em;
    padding-right: 0.6em;
    width: 1.6em;
    border: 1px solid #929494;
    border-radius: 0;
    background-color: white;
    text-align: center;
    font-size: 1.15rem;
    line-height: 1;
    transition: background 0.25s ease;
}

#catalog-item-buy .wrapper button:hover {
    background-color: #f4d03f;
}

#catalog-item-buy .wrapper button[name="catalog-item-buy-form-quantity-plus"] {
    top: -1px;
}

#catalog-item-buy .wrapper button[name="catalog-item-buy-form-quantity-minus"] {
    bottom: -1px;
}

#catalog-item-images {
    padding-right: 4em;
    padding-bottom: 2em;
}

#catalog-item-images a {
    display: block;
    margin-bottom: 0.5em;
    padding: 0.5em;
    border: 1px solid white;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
}

#catalog-item-images a:hover,
#catalog-item-images a.active {
    border: 1px solid #f4d03f;
    transition: border 0.25s ease;
}

#catalog-item-images a img {
    display: inline;
}

#catalog-item-buy-confirmation h3 {
    min-width: 12em;
    font-weight: normal;
}

/* other */

#catalog-item-other-items {
    margin-top: 2em;
    margin-right: 2em;
    padding: 0.5em 1.5em;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

#catalog-item-other-items h3 {
    margin-top: 0;
    color: #272727;
    font-weight: bold;
    font-size: 1.4rem;
}

#catalog-item-other-items h3 {
    font-weight: 500;
}

#catalog-item-other-items h4 {
    margin: 0;
    color: #2c2c2c;
    font-weight: 400;
    font-size: 1.3rem;
}

#catalog-item-other-items a {
    display: block;
    padding: 0.3em;
    border: 1px solid white;
    border-radius: 4px;
    text-decoration: none;
}

#catalog-item-other-items a:hover,
#catalog-item-other-items a.active {
    border: 1px solid #f4d03f;
    transition: border 0.25s ease;
}

/* modal */

#catalog-item-buy-confirmation-details h6,
#catalog-item-buy-confirmation-details p {
    margin: 0.75em 0;
}

#catalog-item-buy-confirmation-details #item {
    font-size: 1.4rem;
}

#catalog-item-buy-confirmation-details #model {
    font-size: 1.2rem;
}