/* catalog */

/*#main > .grid {
    display: table;
    border-collapse: separate;
    height: 100%;
}

#main > .grid > .unit {
    display: table-cell;
    float: none;
    margin: 1em 2em;
    height: 96%;
}

#main > .grid > .unit  .wrapper {
    height: inherit;
}*/

#catalog-sections-list > .grid > .unit a {
    color: white;
    text-decoration: none;
}

#catalog-sections-list .unit {
    padding-bottom: 1em;
}

#catalog-sections-list .unit .wrapper {
    position: relative;
    padding: 0;
    background-color: #576276;
}

#catalog-sections-list .unit .header {
    position: relative;
    overflow: hidden;
    height: 16.1em;
    border-bottom: 2px solid #ffcc33;
    background-color: white;
}

#catalog-sections-list .unit .header h2 {
    position: absolute;
    top: 1em;
    left: 1em;
    z-index: 2;
    margin-top: 0;
    width: 8em;
    font-size: 1.8rem;
}

#catalog-sections-list .unit .header img {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
    max-width: none;
    width: 100%;
    height: auto;
    transition: width 1s ease;
}

#catalog-sections-list .unit .header:hover img {
    width: 70%;
    height: auto;
}

#catalog-sections-list .items {
    position: relative;
    overflow: hidden;
    padding: 1em 0;
    padding-top: 0.5em;
    padding-bottom: 4em;
    height: 18em;
}

#catalog-sections-list .unit ul.list {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
}

#catalog-sections-list .unit ul.list li {
    display: block;
    margin: 0;
    padding: 0.5em 1.5em;
    transition: background 0.5s ease;
}

#catalog-sections-list .unit ul.list > li:hover {
    background-color: #4a525a;
}

#catalog-sections-list .unit ul.list li h3 {
    margin: 0;
    font-weight: 200;
    font-size: 1.35rem;
}

#catalog-sections-list .unit ul.list li h3 span {
    display: block;
    font-size: 1.2rem;
}

#catalog-sections-list .unit .items .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #8a92a0;
    background-color: #576276;
}

#catalog-sections-list .unit .items .footer .controls a {
    position: relative;
    display: block;
    padding: 0.5em 1.5em;
    padding-bottom: 0.65em;
    background-position: center 1em;
    background-repeat: no-repeat;
}

#catalog-sections-list .unit .items .footer .controls a.hide {
    display: none;
}

#catalog-sections-list .unit .items .footer .controls a.show:after,
#catalog-sections-list .unit .items .footer .controls a.hide:after {
    position: absolute;
    right: 1em;
    bottom: 1em;
    display: inline-block;
    width: 1em;
    height: 0.5em;
    background-position: center;
    background-repeat: no-repeat;
    content: '';
}

#catalog-sections-list .unit .items .footer .controls a.show:after {
    background-image: url(/img/arrow-down.png);
}

#catalog-sections-list .unit .items .footer .controls a.hide:after {
    background-image: url(/img/arrow-up.png);
}

/* EN */

#catalog-page-catalog .grid.as-table {
    margin: 0;
    width: auto;
}

#catalog-page-catalog .grid.as-table > .unit {
    vertical-align: middle;
}

#catalog-page-catalog .grid.as-table > .unit img {
    display: inline;
}

#catalog-page-catalog .grid.as-table h2 {
    margin-top: 0;
    font-size: 1.8rem;
}

#catalog-page #catalog-page-process ol {
    padding: 0;
    counter-reset: li;
}

#catalog-page #catalog-page-process ol > li {
    position: relative;
    margin: 3em 0;
    padding-left: 3.5em;
    list-style: none;
}

#catalog-page #catalog-page-process ol > li > p {
    font-size: 1.8rem;
}

#catalog-page #catalog-page-process ol > li:before {
    position: absolute;
    top: -0.25em;
    left: 0;
    display: block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-left: 0.15em;
    width: 0.55em;
    height: 0.55em;
    background-color: #7d8eb1;
    color: white;
    content: counter(li);
    counter-increment: li;
    text-align: right;
    font-weight: bold;
    font-size: 4.5rem;
    line-height: 0.5;
}

#catalog-page a.show-form {
    color: #272727;
}

#catalog-page a.show-form:after {
    border-bottom: 1px dashed #272727;
}

#catalog-page #catalog-page-process h2 {
    font-size: 2.25rem;
}

/* download  */

#catalog-page #catalog-page-catalog-download {
    margin: 1.5em 0;
}

/* catalog-page-samples */

#catalog-page-samples h2 {
    font-size: 2.7rem;
}

#catalog-page-samples .wrapper {
    padding: 1em 1.25em;
}

/*#catalog-page-samples .wrapper {
    padding: 1.6em 1.3em 0.4em 1.25em;
}*/

#catalog-page-samples ul.items {
    margin-bottom: 2em;
    padding: 0;
}

#catalog-page-samples ul.items li.item {
    margin-bottom: 0.5em;
    list-style: none;
}

#catalog-page-samples ul.items li.item h3 {
    margin-top: 0;
    margin-bottom: 0.5em;
    font-size: 1.7rem;
}

#catalog-page-samples .wrapper p {
    font-size: 1.2em;
}