#main > .grid {
    display: table;
    border-collapse: separate;
}

#main > .grid > .unit:before,
#main > .grid > .unit:after {
    display: none;
    float: none;
}

#main > .grid > .unit {
    position: relative;
    display: table-cell;
    float: none;
    margin: 1em 2em;
    vertical-align: top;
}

#main > .grid > .unit .wrapper {
    position: relative;
}