#catalog-page #main > .grid {
    position: relative;
}

#catalog-menu {
    background-color: #5c646c;
}

#catalog-menu ul.menu {
    position: relative;
    margin: 0;
    padding: 1em 0;
}

#catalog-menu ul.menu > li {
    position: relative;
    font-size: 1.8rem;
}

#catalog-menu ul.menu li {
    display: block;
    margin: 0;
    font-weight: normal;
    transition: all 0.25s ease;
}

#catalog-menu ul.menu > li:hover {
    background-color: #4a525a;
}

#catalog-menu ul.menu > li a {
    display: block;
    padding: 0.45em 20px;
    padding-bottom: 0.5em;
    color: white;
    text-decoration: none;
    line-height: 1.25;
}

#catalog-menu ul.menu > li > ul > li > a {
    padding: 0.85em 1.25em;
    background-position: right 1em center;
    background-repeat: no-repeat;
    font-size: 1.4rem;
}

#catalog-menu ul.menu li.section > ul > li > a:hover {
    color: #ffcc33;
}

#catalog-menu ul.menu > li > ul > li.collapsed > a {
    padding: 0.85em 1.25em;
    background-image: url(/img/arrow-down.png);
}

#catalog-menu ul.menu > li > ul > li.expanded > a {
    background-image: url(/img/arrow-up.png);
}

#catalog-menu ul.menu > li.collapsed > ul,
#catalog-menu ul.menu li ul > li.collapsed ul {
    display: none;
}

#catalog-menu ul.menu li > ul {
    padding: 0;
    background: none transparent;
    font-size: 1.2rem;
}

#catalog-menu ul.menu > li > ul {
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 100;
    width: 24em;
}

#catalog-menu ul.menu > li > ul > li {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    background: #4e565e;
    background-color: rgba(78, 86, 94, 0.85);
}

#catalog-menu ul.menu > li > ul > li > ul {
    padding: 0.5em 0;
    background: #57626b;
    background-color: rgba(87, 98, 107, 0.85);
    font-size: 1.3rem;
}

/* catalog search block */

#catalog-search {
    padding: 1em 20px;
    background-color: #5c646c;
}

#catalog-search input {
    box-sizing: border-box;
    width: 100%;
    background-image: url(/img/icon-find.png);
    background-position: right 0.5em center;
    background-repeat: no-repeat;
}

/* catalog menu sticking fix for all pages */

body {
    padding-top: 0;
}

#main {
    padding-top: 6em;
}

#main .grid #sidebar-left .frame.sticky {
    z-index: 1000;
}

#main .grid #sidebar-left.unit,
#main .grid #catalog-page-content.unit,
#main .grid #catalog-item-page-content.unit {
    padding-top: 0;
    padding-bottom: 0;
}
