html {
    font-size: 10pt;
    line-height: 1.35;
}

body {
    color: #272727;
    hyphens: auto;
    font-weight: 300;
    font-size: 1.35rem;
    font-family: 'PF Din', Arial, Helvetica, sans-serif;
    line-height: 1.45;
    font-kerning: auto;
    text-rendering: optimizeLegibility;
    font-smooth: always;
    font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6, dt {
    margin: 0.5em 0;
    margin-bottom: 0.25em;
    color: #222222;
    letter-spacing: -0.01em;
    font-weight: normal;
    font-size: 1.35rem;
    font-family: 'PF Din', Arial, Helvetica, sans-serif;
    line-height: 1.35;
}

h5 {
    font-size: 1.65rem;
}

h4 {
    font-size: 1.8rem;
}

h3 {
    font-size: 2.25rem;
}

h2 {
    font-size: 2.7rem;
}

h1 {
    margin-top: 0em;
    margin-bottom: 0.3em;
    font-size: 3.6rem;
    font-family: 'PF Din', Arial, Verdana, Helvetica, sans-serif;
}

strong, b {
    font-weight: bold;
}

em, i {
    font-style: italic;
}

sup {
    vertical-align: super;
    font-size: 75%;
}

sub {
    vertical-align: sub;
    font-size: 75%;
}

a {
    outline: none !important;
    color: #8594b3;
    text-decoration: underline;
}

a:hover {
}

a:focus {
    outline: none;
}

a[href^="#"] {
    color: inherit;
    text-decoration: underline;
    text-decoration-line: underline;
    text-decoration-style: dashed;
}

a[href^="tel"] {
    text-decoration: none;
}

p {
    margin: 0.25em 0;
}

ol,
ul {
    margin: 0;
    padding: 0.25em 0;
    padding-left: 1em;
}

ol > li,
ul > li {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

/* inputs and buttons */

textarea {
    resize: none;
}

select,
textarea,
input {
    box-sizing: border-box;
    padding: 0.35em 0.5em;
    padding-bottom: 0.4em;
    outline: none;
    border: 1px solid #cecece;
    border-radius: 4px;
    background: white;
    color: #222222;
    font-weight: normal;
    font-family: 'PF Din', Arial, Helvetica, sans-serif;
    transition: all 0.25s ease;
}

textarea,
input {
    color: #272727;
    font-style: normal;
}

select:hover,
textarea:hover,
input:hover {

}

select:focus,
textarea:focus,
input:focus {
    border: 1px solid #dbbb39;
}

a.button,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    position: relative;
    display: inline-block;
    padding: 0.25em 1em;
    padding-top: 0.3em;
    padding-bottom: 0.35em;
    border: 2px solid #f4d03f;
    border-radius: 4px;
    background-color: #f4d03f;
    color: #222222;
    text-align: center;
    text-decoration: none;
    font-weight: normal;
    font-family: 'PF Din', Arial, Helvetica, sans-serif;
    cursor: pointer;
    transition: all 0.25s ease;
}

button {
    padding-top: 0.3em;
    padding-bottom: 0.35em;
}

a.button.disabled,
button.disabled,
input[type="button"].disabled,
input[type="reset"].disabled,
input[type="submit"].disabled,
a.button[disabled="disabled"],
button[disabled="disabled"],
input[type="button"][disabled="disabled"],
input[type="reset"][disabled="disabled"],
input[type="submit"][disabled="disabled"] {
    border: 2px solid #c2c2c2;
    background-color: #c2c2c2;
    color: white;
    cursor: no-drop;
}

a.button:hover,
button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
    border: 2px solid #e8c63c;
    background-color: #e8c63c;
}

a.button:focus,
button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus {
    border: 2px solid #dbbb39;
    background-color: #dbbb39;
}

a.button {
    padding-top: 0.35em;
    padding-bottom: 0.45em;
}

a.button[href^="#"],
a.button[href^="#"]:hover {
    text-decoration: none;
}

a.button.transparent,
button.transparent,
input[type="button"].transparent,
input[type="reset"].transparent,
input[type="submit"].transparent {
    padding: 0.2em 0.9em;
    padding-top: 0.35em;
    padding-bottom: 0.45em;
    border: 2px solid #f4d03f;
    background: none transparent;
    color: #272727;
}

a.button.transparent:hover,
button.transparent:hover,
input[type="button"].transparent:hover,
input[type="reset"].transparent:hover,
input[type="submit"].transparent:hover {
    background-color: #f5d140
}

a.button.transparent:focus,
button.transparent:focus,
input[type="button"].transparent:focus,
input[type="reset"].transparent:focus,
input[type="submit"].transparent:focus {
    border: 2px solid #e8c63c;
    background-color: #e8c63c;
}

a.button.transparent[disabled="disabled"],
button.transparent[disabled="disabled"],
input[type="button"].transparent[disabled="disabled"],
input[type="reset"].transparent[disabled="disabled"],
input[type="submit"].transparent[disabled="disabled"] {
    border: 2px solid #c2c2c2;
    background: none transparent;
    color: #c2c2c2;
    cursor: no-drop;
}

:focus,
::-moz-focus-inner {
    outline: none;
    outline-style: none;
}

a.button.wide,
button.wide,
input[type="button"].wide,
input[type="reset"].wide,
input[type="submit"].wide {
    display: block;
}

/* common */

.title {
    margin-top: 0;
}

.lowercase {
    text-transform: lowercase;
}

.uppercase {
    text-transform: uppercase;
}

.small {
    font-size: 0.85em;
}

/* utility */

.hidden,
#hidden {
    display: none;
}

.inline {
    display: inline;
}

.uppercase {
    text-transform: uppercase;
}

/* rouble */

i.rouble {
    font-weight: inherit;
    font-style: normal;
    font-size: inherit;
}

i.rouble:before {
    content: 'Р';
}

i.rouble:after {
    position: relative;
    bottom: -0.05em;
    left: -0.5em;
    content: '-';
}

/* grid as table, units as cells */

.grid.as-table {
    display: table;
    width: 100%;
}

.grid.as-table > .unit {
    display: table-cell;
    float: none;
}

/* Grid units wrapped equalized widths */

.grid.equalised {
    margin-right: -10px;
    margin-left: -10px;
}

.grid.equalised > .unit {
    padding: 0 10px;
}

.no-stacking-on-mobiles {
    /* no stacking utility class */
}

/* adaptive unit padding */

.grid > .unit {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

/* inputs italic */

input[placeholder] {
    font-style: italic;
}

input.normal {
    font-style: normal;
}

input.italic {
    font-style: italic;
}

/* dashed */

h1 a[href^='#'],
h2 a[href^='#'],
h3 a[href^='#'],
h4 a[href^='#'],
h5 a[href^='#'],
h6 a[href^='#'],
p a[href^='#'] {
    position: relative;
    color: #768db0;
    text-decoration: none;
}

h1 a[href^='#']:after,
h2 a[href^='#']:after,
h3 a[href^='#']:after,
h4 a[href^='#']:after,
h5 a[href^='#']:after,
h6 a[href^='#']:after,
p a[href^='#']:after {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 1px;
    border-bottom: 1px dotted #768db0;
    content: '';
}

a.button:after {
    display: none !important;
}
