#contact-page #main #contact-page-tabs {

}

#contact-page #main #contact-page-content section {
    margin-top: 2em;
    font-size: 1.4rem;
}

#contact-page #main #contact-page-content section h4 {
    margin-top: 0;
    font-weight: 500;
}

#contact-page #main #contact-page-content section .grid > .unit {
    padding-top: 0;
    padding-bottom: 0;
    font-size: 1.4rem;
}

#contact-page #contact-page-menu {
    display: inline-block;
    margin: 0;
    padding: 0;
    border: 1px solid #f4d144;
    border-radius: 4px;
}

#contact-page #contact-page-menu a {
    display: block;
    float: left;
    padding: 0.4em 1.25em;
    color: #222222;
    text-decoration: none;
    font-size: 1.2rem;
}

#contact-page #contact-page-menu a:hover {
    background-color: #e8c63c;
}

#contact-page #contact-page-menu a:focus,
#contact-page #contact-page-menu a.active {
    background-color: #f4d144;
}

#contact-page #contact-page-tabs section {
    display: none;
}

#contact-page #contact-page-tabs section.active {
    display: block;
}

#contact-page #main #location-map {
    padding: 0;
    height: 20em;
    border-top: 2px solid #f4d144;
    border-bottom: 2px solid #f4d144;
    background-color: white;
    background-image: url(/img/throbber.gif);
    background-position: center;
    background-repeat: no-repeat;
}

@media print {

    #header,
    #footer {
        display: none;
    }

    body {
        background: none transparent;
    }

    #contact-page #main .wrapper {
        padding: 0;
        box-shadow: none;
    }

}