#footer {
    position: relative;
    z-index: 1000;
    margin-top: 1em;
    padding: 0;
    background-color: #404040;
    color: #777777;
    font-size: 1rem;
}

#footer .grid {
    padding: 1em 0;
    max-width: 1040px;
}

#footer #footer-navigation {
    padding-top: 1.5em;
}

#footer #footer-outro {
    padding-bottom: 1.5em;
}

@media screen and (min-width: 1280px) and (max-width: 1900px) {

    #footer > .grid {
        max-width: 1260px;
    }

}

@media screen and (min-width: 1900px) {

    #footer > .grid {
        max-width: 1360px;
    }

}

#footer .grid .unit {
    padding-top: 0.25em;
    padding-bottom: 0.25em;
}

#footer a {
    color: white;
}

#footer ul#footer-menu.menu {
}

#footer ul.menu {
    margin-top: 0;
    padding: 0;
}

#footer ul.menu:after {
    visibility: hidden;
    clear: both;
    content: '.';
}

#footer ul.menu > li {
    display: block;
    margin: 0;
}

#footer ul.menu:after {
    visibility: hidden;
    clear: both;
    content: '.';
}

#footer ul.menu > li.item {
    margin-right: 0.5em;
    margin-left: 0;
}

#footer ul.menu > li.item.column-1 {
    width: 12em;
}

#footer ul.menu > li.item.column-2 {
    width: 14em;
}

#footer ul.menu > li.item.column-3 {
    width: 16em;
}

#footer ul.menu > li.item.column-4 {
    width: 12em;
}

@media screen and (min-width: 1280px) and (max-width: 1440px) {

    #footer ul.menu > li.item {
        margin-right: 1em;
        margin-left: 0;
    }

    #footer ul.menu > li.item.column-1 {
        width: 14em;
    }

    #footer ul.menu > li.item.column-2 {
        width: 18em;
    }

    #footer ul.menu > li.item.column-3 {
        width: 18em;
    }

    #footer ul.menu > li.item.column-4 {
        width: 14em;
    }

}

@media screen and (min-width: 1440px) and (max-width: 1900px) {

    #footer ul.menu > li.item {
        margin-right: 1em;
        margin-left: 0;
    }

    #footer ul.menu > li.item.column-1 {
        width: 14em;
    }

    #footer ul.menu > li.item.column-2 {
        width: 18em;
    }

    #footer ul.menu > li.item.column-3 {
        width: 18em;
    }

    #footer ul.menu > li.item.column-4 {
        width: 14em;
    }

}


@media screen and (min-width: 1900px) {

    #footer ul.menu > li.item.column-1 {
        width: 14em;
    }

    #footer ul.menu > li.item.column-2 {
        width: 18em;
    }

    #footer ul.menu > li.item.column-3 {
        width: 14em;
    }

    #footer ul.menu > li.item.column-4 {
        width: 12em;
    }

}

#footer ul.menu > li.item ul {
    padding: 0;
    padding-top: 0.3em;
}

#footer ul.menu > li.item > a {
    display: block;
    margin-bottom: 0.25em;
    font-size: 1.4rem;
}

#footer ul.menu > li.item ul > li {
    display: block;
    margin: 0.2em 0;
    font-size: 1.2rem;
    line-height: 1.5;
}

@media all and (min-width: 1280px) {

    #footer ul.menu > li.item > a {
        font-size: 1.6rem;
    }

    #footer ul.menu > li.item ul > li {
        font-size: 1.4rem;
    }

}

@media all and (min-width: 1900px) {

    #footer ul.menu > li.item > a {
        font-size: 1.3rem;
    }

    #footer ul.menu > li.item ul > li {
        font-size: 1.1rem;
    }

}

#footer ul.menu > li.item ul > li > a {
    color: #777777;
    transition: color 0.5s ease;
}

#footer ul.menu > li.item ul > li > a:hover {
    color: white;
}

#footer input {
    border: 2px solid #535353;
    background-color: #535353;
    color: white;
}

#footer input:hover {
    border: 2px solid #535353;
    box-shadow: none;
}

#footer input:focus {
    border: 2px solid #535353;
    box-shadow: none;
}

#footer #subscription-form input {
    width: 10em;
}

#footer #subscription-form .field.email {
    position: relative;
}

#footer #subscription-form .field.email:after {
    position: absolute;
    top: 0;
    right: 1em;
    display: block;
    width: 20px;
    height: 20px;
    background-image: url(/img/icon-footer-enter.png);
    background-position: center;
    background-repeat: no-repeat;
    content: '';
    opacity: 0.2;
}

#footer #subscription-form .field.email.focus:after {
    opacity: 1;
}

#footer #search-form input {
    width: 12em;
    background-image: url(/img/icon-footer-find.png);
    background-position: right 0.5em center;
    background-repeat: no-repeat;
}

