#front-slider .slider {
    padding-bottom: 0;
}

#front-slider #main-slider.slider > .slick-list {
    box-shadow: 0 0 20px rgba(80, 88, 104, 0.48);
}

#front-slider .slider a.slick-arrow {
    position: absolute;
    top: 50%;
    z-index: 100;
    display: block;
    margin-top: -0.5em;
    width: 18px;
    height: 2em;
    background-image: url(/img/slider-controls.png);
    background-repeat: no-repeat;
}

#front-slider .slider a.slick-arrow.prev {
    left: 2em;
    background-position: left center;
}

#front-slider .slider a.slick-arrow.next{
    right: 2em;
    background-position: right center;
}

#front-slider .slider .slide {
    overflow: hidden;
}

#front-slider .slider .slide .grid {
    display: table;
    padding: 0 3em;
    max-width: 100%;
    width: 100%;
    height: 20em;
    background-color: white;
}

#front-slider .slider .slide .grid > .unit {
    display: table-cell;
    float: none;
    vertical-align: middle;
}

#front-slider .slider .slide .grid > .unit.two-fifths {
    width: 45%;
}

#front-slider .slider .slide .image {
    text-align: center;
}

#front-slider .slider .slide .image img {
    display: inline;
    max-height: 18em;
}

#front-slider .slider .slide .caption h2 {
    margin-top: 0;
    margin-bottom: 0.5em;
    font-size: 3.6rem;
    line-height: 1;
}

#front-slider .slider .slide .caption {
    padding-right: 4em;
    font-weight: normal;
    font-size: 1.5rem;
}

#front-slider .slider .slide .caption a.button {
    margin-top: 2em;
}

#front-slider .slider ul.slick-dots {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 2em;
    text-align: center;
}

#front-slider .slider ul.slick-dots li {
    display: inline-block;
    overflow: hidden;
    margin: 0 0.05em;
    width: 8px;
    height: 8px;
    background-image: url(/img/slider-dots.png);
    background-position: center top;
    text-indent: -99em;
    cursor: pointer;
}

#front-slider .slider ul.slick-dots li.slick-active {
    background-position: center bottom;
}

#front-slider #inner-slider {
    margin: auto;
    padding: 0;
    width: 24em;
}

#front-slider #inner-slider .slick-track {
    padding: 2em 0;
}

#front-slider #inner-slider .slide {
    padding: 0;
    height: auto;
    transition: transform 0.25s ease, box-shdow 0.25s ease;
    transform: scale(1);
}

#front-slider #inner-slider .slide:focus {
    outline: none;
}

#front-slider #inner-slider .slide .frame {
    padding: 0;
    background-color: white;
}

#front-slider #inner-slider .slide.slick-center {
    position: relative;
    z-index: 1000;
    box-shadow: 0 2px 15px rgba(80, 90, 115, 0.5);
    transform: scale(1.15);
}

#front-slider #inner-slider .slide img {
    display: block;
}

#front-slider #inner-slider .slide .caption {
    padding: 0.3em 0.6em;
    height: 3em;
    border-top: 4px solid #f4d03f;
    background-color: #7d8eb1;
    text-align: left;
}

#front-slider #inner-slider .slide .caption h3  {
    margin: 0;
    color: white;
    font-size: 1.2rem;
}

#front-slider #inner-slider .slide .caption h3 span {
    display: block;
    color: white;
    font-size: 0.9rem;
}

#front-slider #front-slider-advantages-slide {
    background-image: url(/upload/slide-3-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#front-slider #front-slider-advantages-slide h2 {
    position: absolute;
    top: 0.25em;
    width: 100%;
    color: white;
    text-align: center;
    font-size: 3.6rem;
}

#front-slider #front-slider-advantages-slide .grid {
    background: none transparent;
}

#front-slider #front-slider-advantages-slide .grid .unit h3 {
    color: white;
    font-weight: 200;
    font-size: 1.8rem;
}

#front-slider #front-slider-advantages-slide .grid .unit .image {
    display: inline-block;
    margin-top: 4em;
    padding: 1em;
    padding-top: 1.25em;
    width: 3em;
    height: 3em;
    border: 4px solid #f4d03f;
    border-radius: 4em;
}

#front-slider #inner-slider:after {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 12px;
    background-image: url(/img/inner-slider-shadow.png);
    background-position: center;
    background-repeat: no-repeat;
    content: '';
}