#front-navigation {
    position: relative;
    margin-bottom: 1em;
}

#front-navigation .grid .unit {
    position: relative;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

#front-navigation .pointer {
    position: relative;
    padding: 1em 1.25em;
    height: 10em;
    background-color: white;
}

#front-navigation .unit .pointer h2 {
    margin-top: 0;
    margin-right: 2.4em;
    margin-bottom: 0.5em;
    font-size: 2rem;
}

#front-navigation .unit .pointer h3 {
    margin-top: 0;
}

#front-navigation .pointer h2 > a,
#front-navigation .pointer h3 > a {
    color: inherit;
    text-decoration: none;
}

#front-navigation .pointer h2 > a > span.underline,
#front-navigation .pointer h3 > a > span.underline {
    position: relative;
    display: inline-block;
}

#front-navigation .pointer h2 > a > span.underline:after,
#front-navigation .pointer h3 > a > span.underline:after {
    position: absolute;
    bottom: 0.2em;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #6f88ae;
    content: '';
    opacity: 0.5;
    transition: opacity 0.5s ease, background 0.5s ease;
}

#front-navigation .pointer h2 > a:hover > span.underline:after,
#front-navigation .pointer h3 > a:hover > span.underline:after {
    background-color: #7C8DB0;
    opacity: 1;
}

#front-navigation .pointer:before {
    z-index: 1;
    z-index: 20;
    display: block;
    background-image: url(/img/pointer-tail.png);
    background-position: center;
    background-repeat: no-repeat;
    content: '';
}

#front-navigation .pointer:after {
    position: absolute;
    z-index: 10;
    display: block;
    background-color: #7C8DB0;
    content: '';
}

#front-navigation .pointer.up:after {
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
}

#front-navigation .pointer.up:before {
    position: absolute;
    top: -13px;
    left: 50%;
    margin-left: -20px;
    width: 30px;
    height: 15px;
    background-position: top center;
}

#front-navigation .pointer.down:before {
    position: absolute;
    bottom: -13px;
    left: 50%;
    margin-left: -20px;
    width: 30px;
    height: 15px;
    background-position: bottom center;
}

#front-navigation .pointer.down:after {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
}

#front-navigation .pointer.right:before {
    position: absolute;
    top: 50%;
    right: -13px;
    margin-top: -20px;
    width: 15px;
    height: 30px;
    background-position: center right;
}

#front-navigation .pointer.right:after {
    top: 0;
    right: 0;
    width: 2px;
    height: 100%;
}

/* bw model */

#front-navigation #bw-model .pointer {
    padding-top: 1em;
    background: none transparent;
}

#front-navigation #bw-model h3 {
    margin-top: 0;
    margin-bottom: 0.5em;
    font-weight: 500;
    font-size: 1.8rem;
}

#front-navigation #bw-model .pointer:before {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    background-image: url(/img/yellow-pointer.png);
    background-position: top right;
    background-repeat: no-repeat;
    content: '';
}

/* storage */

#front-navigation #storage .pointer {
    position: relative;
    padding: 0;
    height: 15em;
    background-image: url(/upload/storage-bg.png);
    background-position: left center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

#front-navigation #storage .pointer .caption {
    position: absolute;
    bottom: 1.75em;
    left: 1.25em;
    z-index: 1;
    overflow: hidden;
    padding: 1.25em;
    padding-top: 0.75em;
    width: 11em;
    background-color: rgba(127, 144, 157, 0.85);
    color: white;
}

/*

#front-navigation #storage .pointer .caption:before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: block;
    width: 100%;
    height: 100%;
    content: '';
}

#front-navigation #storage .pointer .caption:after {
    position: absolute;
    top: -1.75em;
    left: -1.45em;
    z-index: -2;
    display: block;
    width: 32em;
    height: 15em;
    background-image: url(/upload/storage-bg.png);
    background-position: left center;
    content: '';
    -webkit-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
}
*/

#front-navigation #storage .pointer .caption h3 {
    margin-bottom: 1em;
    color: white;
    font-size: 1.8rem;
}

#front-navigation #storage .pointer .caption a.button {
    margin-bottom: 0;
    color: white;
    font-size: 1.5rem;
}

/* status */

#front-navigation #status {
    position: absolute;
    top: 0;
    right: 0;
}

#front-navigation #status .pointer {
    position: absolute;
    padding: 0;
    width: 100%;
    height: 28em;
    background-image: url(/upload/order-status-bg.png);
    background-position: center;
    background-size: cover;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

#front-navigation #status .pointer .caption {
    position: absolute;
    bottom: 1.25em;
    left: 1em;
    z-index: 100;
    overflow: hidden;
    padding: 1.25em;
    padding-top: 1em;
    width: 11em;
    height: 9.5em;
    background-color: rgba(55, 55, 55, 0.75);
    color: white;
}

/*

#front-navigation #status .pointer .caption:after,
#front-navigation #status .pointer .caption:before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    display: block;
    width: 100%;
    height: 100%;
    content: '';
}


#front-navigation #status .pointer .caption:after {
    z-index: -1;
    background-color: black;
    opacity: 0.5;
}

#front-navigation #status .pointer .caption:before {
    position: absolute;
    top: -14.5em;
    left: -1em;
    z-index: -2;
    display: block;
    width: 16em;
    height: 28em;
    background-image: url(/upload/order-status-bg.png);
    background-position: center;
    background-size: cover;
    content: '';
    -webkit-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
}

*/

#front-navigation #status .pointer .caption h3 {
    color: white;
    font-size: 1.8rem;
}

#front-navigation #status .pointer .caption a {
    color: white;
    text-decoration-color: inherit;
}

#front-navigation #status .pointer .field input {
    display: block;
    width: 100%;
    border: 1px solid white;
    background-image: url(/img/icon-find.png);
    background-position: right 0.5em center;
    background-repeat: no-repeat;
}

#front-navigation #status .pointer .field p {
    margin-top: 0.5em;
    font-size: 1rem;
}

#front-navigation #status .pointer .actions input[type="submit"] {
    display: block;
    width: 100%;
    color: white;
    font-size: 1.5rem;
}
