#header #header-navigation #header-cart {
    position: relative;
    padding-left: 48px;
}

#header #header-navigation #header-cart li {
    list-style: none;
}

#header-cart:before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 2em;
    height: 100%;
    background-image: url(../img/cart.png);
    background-position: left center;
    background-repeat: no-repeat;
    content: '';
}

#header-cart .value {
    position: absolute;
    bottom: 1.5em;
    left: 2em;
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background-color: #f4d03f;
    color: #222222;
    text-align: center;
    font-weight: normal;
    font-size: 11px;
    line-height: 1.5;
}

#header-cart-dropdown {
    position: absolute;
    top: 4em;
    right: -4.5em;
    z-index: 1;
    display: none;
    margin-top: 0.5em;
    padding: 1em;
    padding-bottom: 1.25em;
    width: 14em;
    background-color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

#header-cart-dropdown:before {
    position: absolute;
    top: -19px;
    left: 50%;
    display: block;
    margin-left: -20px;
    width: 0;
    height: 0;
    border-right: 20px solid transparent;
    border-bottom: 20px solid white;
    border-left: 20px solid transparent;
    content: '';
}

#header-cart-dropdown h3 {
    margin-top: 0;
    font-weight: 500;
    font-size: 1.8rem;
}

#header-cart-dropdown ul.items {
    position: relative;
    margin: 0;
    padding: 0;
    padding-right: 1.5em;
    height: 11em;
}

#header-cart-dropdown .nicescroll-rails.nicescroll-rails-vr {
    width: 4px;
    border-radius: 2px;
    background-color: #e5e8ef;
}

#header-cart-dropdown .nicescroll-cursors {
    width: 4px;
    border: none;
    border-radius: 2px;
    background-color: #7d8eb1;
    cursor: ns-resize;
}

#header-cart-dropdown a {
    color: #222222;
    text-decoration: underline;
}

#header-cart-dropdown ul.items li.item h4 {
    margin-bottom: 0;
    font-size: 1.05rem;
}

#header-cart-dropdown ul.items li.item.grid > .unit {
    padding-top: 0;
    padding-bottom: 0;
}

#header-cart-dropdown ul.items li.item.grid > .unit img {
    margin-top: 0.5em;
}

#header-cart-dropdown ul.items li.item > .unit > p {
    margin: 0;
}

#header-cart-dropdown ul.items li.item .quantity,
#header-cart-dropdown ul.items li.item .price {
    color: #7a90b2;
    font-size: 1.05rem;
}

#header-cart-dropdown ul.items li.item .price {
    padding-left: 0.5em;
}

