#header-user li {
    list-style: none;
}

#header #header-user.element {
    position: relative;
    display: inline-block;
    padding-left: 36px;
}

#header-user:before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 2em;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    content: '';
}

.not-authorised #header-user:before {
    background-image: url(../img/user-login-auth.png);
}

.authorised #header-user:before {
    background-image: url(../img/user-login.png);
}

#header-user .dropdown {
    position: absolute;
    top: 4em;
    right: -4.5em;
    z-index: 1;
    display: none;
    margin-top: 0.5em;
    padding: 1em;
    width: 14em;
    background-color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    text-align: left;
}

#header-user .dropdown h3 {
    font-size: 1.35rem;
}

#header-user .dropdown h3 a {
    color: #7d8eb1;
}

#header-user .dropdown:before {
    position: absolute;
    top: -19px;
    left: 50%;
    display: block;
    margin-left: -20px;
    width: 0;
    height: 0;
    border-right: 20px solid transparent;
    border-bottom: 20px solid white;
    border-left: 20px solid transparent;
    content: '';
}

#header-user .dropdown .form .field label:after {
    content: ':';
}

#header-user .dropdown .form .field input {
    width: 10em;
}