body {
    padding-top: 5em;
}

#header {
    position: fixed;
    top: 0;
    z-index: 2000;
    width: 100%;
    background-color: #363839;
}

#header > .grid {
    position: relative;
    padding: 0 20px;
}

#header > .grid > .unit {
    padding: 0;
}

#header a {
    color: white;
    text-decoration: none;
}

#header #header-logo {
    padding-top: 0.55em;
    padding-bottom: 0.75em;
}

#header-logo > a {
    display: block;
}

#header #header-navigation {
    position: absolute;
    right: 0;
    display: inline-block;
    padding: 0;
    padding-right: 7em;
    height: 100%;
}

#header-navigation .element {
    display: inline-block;
    margin-left: 1.5em;
    padding: 1.15em 0;
}

@media screen and (min-width: 1900px) {

    #header-navigation .element {
        padding: 0.85em 0;
    }

    #header-navigation #header-phone.element a {
        font-size: 0.8em;
    }

}

#header-navigation #header-phone.element {
    padding-top: 1em;
    font-weight: normal;
    font-size: 1.65rem;
}

#header-language a {
    display: inline-block;
    padding: 0.3em 0.5em;
    font-weight: normal;
    transition: background-color 0.5s ease;
}

#header-language a:hover,
#header-language a.active {
    background-color: white;
    color: #222222;
    text-decoration: none;
}