/* this layout width limit */

body {
    position: relative;
    background-color: #aab3bc;
}

main .wrapper {
    position: relative;
    padding: 1em 2em;
    background-color: white;
}

aside .wrapper {
    position: relative;
    padding: 1em 1.5em;
    background-color: white;
}

main .wrapper:after,
aside .wrapper:after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 20px rgba(80, 88, 104, 0.48);
    content: '';
}

.shadow {
    box-shadow: 0 0 20px rgba(80, 88, 104, 0.48);
}

/* forms */

.form {
    margin: 0.5em 0;
}

.form .field {
    margin: 0.5em 0;
}

.form .field label {
    display: block;
    margin-bottom: 0.5em;
    font-weight: normal;
}

.form .actions {
    margin-top: 1em;
}

/* colorbox */

body #cboxOverlay {
    background: #5c646c;
    background-image: none;
}

body #cboxTopLeft,
body #cboxTopCenter,
body #cboxTopRight,
body #cboxMiddleLeft,
body #cboxMiddleCenter,
body #cboxMiddleRight,
body #cboxBottomLeft,
body #cboxBottomCenter,
body #cboxBottomRight {
    background-image: none;
}

body #cboxContent {
    border-radius: 8px;
}

body #cboxContent #cboxLoadedContent {
    margin: 0;
    padding: 1em;
}

body #cboxClose {
    top: 1em;
    right: 1em;
    width: 2em;
    height: 2em;
    background-image: url(/img/close-yellow.png);
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.5;
}

body #cboxClose:hover {
    background-position: center;
    opacity: 1;
}

/* adaptive */

@media screen and (min-width: 568px) {

    html {
        font-size: 9pt;
    }

    body .wrap .grid {
        max-width: 1080px;
    }

}

@media screen and (min-width: 1280px) and (max-width: 1900px) {

    html {
        font-size: 9pt;
    }

    body .wrap .grid {
        max-width: 1260px;
    }

}

@media screen and (min-width: 1900px) {

    html {
        font-size: 11pt;
    }

    body .wrap .grid {
        max-width: 1360px;
    }

}