#partners-page aside {
    padding-right: 1em;
}

#partners-page #partners-page-menu {
    background-color: #5c646c;
}

#partners-page #partners-page-menu ul.menu {
    margin: 0;
    padding: 0.5em 0;
}

#partners-page #partners-page-menu ul.menu li {
    display: block;
    padding: 0.5em 1em;
    background-color: #5c646c;
    font-weight: normal;
    font-size: 1.8rem;
    line-height: 1.25;
    transition: all 0.25s ease;
}

#partners-page #partners-page-menu ul.menu li:hover {
    background-color: #4a525a;
}

#partners-page #partners-page-menu ul.menu li a {
    color: white;
    text-decoration: none;
}

/* partners */

#partners-page #contact-page-content > .wrapper.grid {
    position: relative;
    padding: 1.5em;
    background-color: white;
    box-shadow: 0 0 2em #505868;
}

/* partners list */

#partners-list {
    margin: 0 -1em;
    margin-top: 1em;
    padding: 0;
}

#partners-list .unit {
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 0 1em;
}

#partners-list .unit > .wrapper {
    padding: 0;
    height: 9em;
    border: 1px solid lightgray;
    border-radius: 3px;
    text-align: center;
}

#partners-list .unit > .wrapper {
    display: table;
    width: 100%;
}

#partners-list .unit > .wrapper a {
    display: table-cell;
    vertical-align: middle;
}

#partners-list .unit > .wrapper:hover {
    border: 1px solid #f5d140;
}

#partners-list .unit > .wrapper img {
    display: inline;
}

#partners-list .unit .caption {
    position: absolute;
    top: 3em;
    left: 0;
    z-index: 10;
    display: none;
    width: 100%;
}

#partners-list .unit .caption h2 {
    margin-top: 0;
}

#partners-list .unit .caption h2 a.close {
    margin-left: 1em;
    font-size: 1.2rem;
}

#partners-list .unit .caption .grid {
    position: relative;
    margin: 2em;
    padding: 1em;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

#partners-list .unit .caption a.close.sign {
    position: absolute;
    top: -0.65em;
    right: -0.65em;
    display: block;
    width: 1.5em;
    height: 1.5em;
    background-image: url(/img/close-blue.png);
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    text-decoration: none;
    font-size: 1.8rem;
}

#partners-list .unit .caption .logo {
    margin: 1em 0;
    margin-bottom: 2em;
}

#partners-list .unit .caption .certificate {
    margin: 1em;
    margin-bottom: 1.5em;
}

#partners-list .unit .caption .certificate h4 {
    margin-top: 0.5em;
    font-size: 1.05rem;
}
