#header #side-menu.element {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
    width: 4.5em;
    height: 100%;
    border-left: 1px solid #676869;
}

#side-menu a.control {
    display: block;
    width: 100%;
    height: 100%;
    background-image: url(../img/menu-trigger.png);
    background-position: center;
    background-repeat: no-repeat;
}

#side-menu #side-menu-bar {
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 100;
    padding-top: 2em;
    padding-right: 1em;
    height: 100%;
}

#side-menu #side-menu-bar:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    display: block;
    width: 100%;
    height: 100%;
    background-color: #393a3c;
    content: '';
    opacity: 0.98;
}

#side-menu #side-menu-bar a.close {
    position: absolute;
    top: 1.5em;
    right: 1.5em;
    display: block;
    width: 32px;
    height: 32px;
    background-image: url(/img/sidemenu-close.png);
    background-position: center;
    background-repeat: no-repeat;
}

#side-menu #side-menu-bar ul.menu {
    margin: 0;
    padding: 0.5em 1.5em;
    text-align: left;
    font-size: 1.8rem;
}

#side-menu #side-menu-bar ul.menu li {
    display: block;
    margin: 0.75em 0;
}

#side-menu #side-menu-bar ul.menu li a {
    text-decoration: underline;
    font-weight: normal;
}